# Logs
todo-vue/logs
todo-vue/*.log
todo-vue/npm-debug.log*
todo-vue/yarn-debug.log*
todo-vue/yarn-error.log*
todo-vue/pnpm-debug.log*
todo-vue/lerna-debug.log*

todo-vue/node_modules
todo-vue/.DS_Store
todo-vue/dist
todo-vue/dist-ssr
todo-vue/coverage
todo-vue/*.local

todo-vue/cypress/videos/
todo-vue/cypress/screenshots/

# Editor directories and files
todo-vue/.vscode/*
todo-vue/!.vscode/extensions.json
todo-vue/.idea
todo-vue/*.suo
todo-vue/*.ntvs*
todo-vue/*.njsproj
todo-vue/*.sln
todo-vue/*.sw?

todo-laravel/node_modules
todo-laravel/public/hot
todo-laravel/public/storage
todo-laravel/storage/*.key
todo-laravel/vendor
todo-laravel/.env
todo-laravel/.env.backup
todo-laravel/.phpunit.result.cache
todo-laravel/docker-compose.override.yml
todo-laravel/Homestead.json
todo-laravel/Homestead.yaml
todo-laravel/npm-debug.log
todo-laravel/yarn-error.log
todo-laravel/.idea
todo-laravel/.vscode
todo-laravel/.composer.phar
